$main-color: #ffffff;
$second-color: #87949e;
$third-color: #576671;
$fourth-color: #191b29;
$fifth-color: #4b4e73;
$sixty-color: #edeff1;
$hover-color: #17daa3;

$main-family: "Roboto Slab", sans-serif;
$second-family: "Roboto", sans-serif;


